doctype html
html
  head
    style
  body
    h1 Welcome to Z-games!
    p Dear user! Thanks you for registering on Z-games.
    p To activate your account you should go to registration link.
    p Your registration link: #{link}
    p #{additionalText}
