doctype html
html
  head
    style
  body
    h1 Welcome to Z-Games!
    p Dear user! Thanks you for the registering on Z-Games.
    p To activate your account you should go to registration link:
    p #{link}
    p #{additionalText}
